/* line 5, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/games.scss */
.gameThumbnail img {
  border-style: solid;
  border-width: 3px;
  border-color: #517acc;
}
/* line 4, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/hangman.scss */
section.game-play {
  margin: 30px;
  width: 100%;
}

/* line 9, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/hangman.scss */
section.game-play > figure {
  width: 50%;
  height: 100%;
  float: right;
}

/* line 15, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/hangman.scss */
section.game-play > aside {
  width: 46%;
  height: 100%;
}

/* line 20, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/hangman.scss */
section.game-play > aside > div:first-child {
  margin-bottom: 20px;
}

/* line 24, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/hangman.scss */
div.game-word {
  letter-spacing: 1em;
  font-size: 1em;
  text-align: center;
}

/* line 30, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/hangman.scss */
.button:hover {
  background-color: rgba(255, 0, 51, 0.8);
}

/* line 34, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/hangman.scss */
.game-letters {
  display: inline;
  list-style-type: none;
}

/* line 38, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/hangman.scss */
.hidden {
  display: none;
}

/* line 42, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/hangman.scss */
.button {
  display: inline-block;
  margin: 1em auto;
  font-family: PFDinTextCompProBold, Impact, Arial;
  font-size: 1.5em;
  color: white;
  padding: .5em;
  background-color: #FF7619;
  border: 1px solid #333333;
  border-radius: 1em;
}
/* line 1, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 23, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 26, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /Users/Courtney/Desktop/Mammoth-Games/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*Header Styling*/
li {
	display: inline;
}
nav {
	background-color: #6699FF;
	text-align: center;
}

.container-fluid {
	background-color: black;
}

.nav {

	text-align: center;
	color: orange;
}

nav.navbar.navbar-default.navbar-fixed-top {
	text-align: center;
	color: #330033;
	background-color: #6699FF;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-inner > .item {
	background-color: #6699FF;
}

/*bullet points between nav bar listing*/
.bulletPoint {
	padding-top: 1.3em;
}

#topNav {
	padding-left: 25em;
}

/*inactive circle-y bits of carousel indicator*/
li.slideIndicators {
	background-color: orange;
}

/*active circle-y bits of carousel indicator*/
li.slideIndicators.active {
	background-color: #6699FF;
}


/*Body Styling*/
body {
	background-color: #FFFF99;
	color: #181822;
	text-align: center;
	margin-bottom: 10em;
}
tbody th {
	text-align: center;
	margin: 0 auto;
}

body > .container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.navbarButton {
	outline: 0;
	color: #101d37;
	background: none;
	border: 0;
}

a.btn.btn-default {
	outline: 0;
	color: #101d37;
	background: none;
	border: 0;
}
/*Footer Styling*/
nav.navbar.navbar-default.navbar-fixed-bottom {
	text-align: center;
	color: #330033;
	background-color: #6699FF;
}
