<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <br>
  <%= @user.email %>
  <br><br>
  <strong>Player Bio:</strong>
  <br>
  blurb placeholder

</p>

<%= link_to 'Edit', edit_user_path %> |
<%= link_to 'Back', users_path %>
