<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <br>
  email placeholder
  <br><br>
  <strong>Blub about Player:</strong>
  <br>
  blurb placeholder

</p>

<%= link_to 'Edit', edit_user_path %> |
<%= link_to 'Back', users_path %>
