<!--Rendered after comment is created, mostly just styling-->
<div class="comment clearfix">
	<div class="comment_content">
		<p class="comment_content"><%= comment.body %></p>
		<p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago</p>
	</div>
</div>