<h1>Hangman</h1>

<section class="game-play">

    <figure>
      <span>Guesses Left:</span> <span class="guesses-left">8</span>
    </figure>

    <aside>
      <div>
        <span>Letters Guessed Already:</span>
        <span class="guessed-letters"></span>
      </div>

      <div>
        <label for="letter">Guess a Letter:</label>
        <input type="text" name="letter" id="letter" max-length="1" />
      </div>
    </aside>
  </section>

  <div class="game-word"><span id="finalWord"></span></div>

  <section class="game-controls">
    <button class="button" id="give-up">Give Up</button>
    <button class="button" id="new-game">New Game</button>
  </section>

      <div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="5"></div>
  <script>
    $(document).ready(function() {
      newGame();

      FB.init({
        appId  : 'Mammoth Games',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true // parse XFBML
      });
    });
  </script>
