<div class="col-md-12"><h1>Games Listing</h1></div>
<br>
<div class="col-md-4">
	<p> Hangman</p>
	<%= image_tag "thumbnailPlaceholder.png", :size => '200x200' %>
</div>

<div class="col-md-4">
	<p> Tic-Tac-Toe</p>
	<%= image_tag "thumbnailPlaceholder.png", :size => '200x200' %>
</div>