<div class="col-md-12"><h1>Game Listing</h1></div>
<br>
<div class="col-md-4">
	<p> Hangman</p>
	<%= link_to image_tag("thumbnailPlaceholder.png", :size => '260x180'), static_pages_hangman_path %>
	
</div>

<div class="col-md-4">
	<p> Tic Tac Toe</p>
	<%= link_to image_tag("thumbnailPlaceholder.png", :size => '260x180'), games_path %>
</div>