<!-- Link trigger modal -->
<!-- <a href="remoteContent.html" data-toggle="modal" data-target="#myModal" class="btn btn-default">
    About Us
</a> -->

<!-- Default bootstrap modal example -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About Us</h4>
      </div>
      <div class="modal-body">
        The Mammoth Games app is a trial run. Created to house a selection of games created by a selection of General Assembly students. 

        HERP DERP DIDDLE-Y DOO
      </div>
      <div class="modal-footer">
        <button type="button" class="navbarButton" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<p> Sneaksy hobbitses trying to go into places they ought not to be!</p>